html, body, form {
    padding: 0;
    margin: 0;
}

body {
    color: #393D3F;
    font-family: 'Open Sans', sans-serif;
}

button {
    border: none;
}

.header, .footer {
    color: #FDFDFF;
    width: 100%;
}

.header {
    height: 50px; 
    line-height: 50px;
    background-color: #546A7B;
}

.footer {
    height: 2em;
    text-align: center;
    line-height: 2em;
    background-color: #393D3F;
}

.header-title {
    font-size: 26px;
    font-weight: bold;
    margin-left: 25px;
}

.navigation {
    height: 2em;
    line-height: 2em; 
    padding-left: 25px;
    background-color: #393D3F;
    color: #FDFDFF;
}

.choice-button {
    font-size: 16px;
    width: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
    /* background-color is designated in html */
    color: #393D3F;
	height: -webkit-calc(100% - 4em - 50px);
    height:    -moz-calc(100% - 4em - 50px);
    height:         calc(100% - 4em - 50px);    
}

.button-title {
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
}

.button-icon {
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.link {
    color: #FDFDFF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

