html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #325132;
    font-family: 'Open Sans', sans-serif;
}

.header, .footer {
    flex: none;
    text-align: center;
    height: 50px; 
    line-height: 50px;
}

.header {
    border-bottom: dashed 1px #325132;
}

.footer {
    border-top: dashed 1px #325132;
}

.main {
    background-color: #FCFCFC;
    flex: auto;
    padding-top: 2em;
}


.header-title {
    font-size: 24px;
}

.sub-title {
    font-size: 20px;
    display: block;
    text-align: center;
}

.choice-button {
    margin-top: 2em;
    text-align: center;
    font-size: 16px;
    height: 100px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #325132;
    color: white;
}

button {
    border: none;
}

.choice-button:hover {
    background-color: #1b2211;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}

.choice-button:active {
    background-color: #0a0d06;
}

.center-wrap {
    margin: auto; 
    width: 40%;
}
